[Unit]
Description=Periodically update the photo library manifest

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
AccuracySec=1min
Persistent=true
Unit=photo-manifest.service

[Install]
WantedBy=timers.target
